socket:
  hostname: 127.0.0.1
  port: 47990
logging:
  class: Logger
  basedir: ../log
  minlevel: 0
  maxsize: 10000000
  maxage: 86400
application:
  daemonize: false
  sessioncache:
    class: LRUCache
    maxsize: 200
    ttl: 3600
  dispatcher:
    class: iowa/Dispatcher
  policy:
    class: iowa/Policy
